{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
  {% comment %} Hi {{ user.username }}! You are {{ user.age }} years old. {% endcomment %}
  {% comment %} <p><a href="{% url 'logout' %}">Log Out</a></p> {% endcomment %}
{% else %}
  {% comment %} <p>You are not logged in</p> {% endcomment %}
  {% comment %} <a href="{% url 'login' %}">Log In</a> | {% endcomment %}
  {% comment %} <a href="{% url 'signup' %}">Sign Up</a> {% endcomment %}
{% endif %}
{% endblock content %}